.container{
    background-image: url(/display2/images/images.jpg);
    width: 50vw;
    height: 30vw;
    margin: auto;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
}
.box1{
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    position: fixed;
    text-align: center;
}